@font-face {
  font-family: "NationalPark";
  src: url("/fonts/NationalPark-Thin.otf");
}

:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: var(--nord1);

}

body {
  min-width: 300px;
  background: rgb(250, 250, 250);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 50px;
  padding: 5px 10px;
  background: rgba(250, 250, 250, 0.75);
  z-index: 1;
}

header h1 {
  font-size: 1.75em;
  font-weight: 400;
  float: left;
  vertical-align: middle;
  line-height: 50px;
}

header h1 a {
  text-decoration: none;
}

header .icon {
  float: right;
  padding: 12.5px 0 0 15px;
}

h2 {
  max-width: 80%;
  height: 30px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 400;
  padding: 15px 0 15px 0;
  margin: 0 auto;
}

h2 a {
  float: left;
  padding-top: 3px;
}

.spacer {
  height: 50px;
}

/* Homepage */
.home-flex-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 840px;
  margin: 0 auto;
  border-top: 1px solid var(--nord1);
}

.home-flex-container .grid-image {
  display: block;
  text-decoration: none;
  font-size: 1em;
  margin: 15px;
}

.home-flex-container .grid-image h3 {
  text-align: center;
  color: var(--nord1);
  margin-top: 10px;
  font-size: 1em;
  font-weight: 400;
}

.home-flex-container .grid-image img {
  transition: 0.15s ease-in;
}

.home-flex-container .grid-image img:hover {
  opacity: 0.5;
  z-index: 2;
}

/* Gallery Page */
.gallery-flex-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: min(80%, 1200px);
  margin: 0 auto;
  border-top: 1px solid var(--nord1);
}

.gallery-flex-container img {
  max-height: 750px;
  max-width: 100%;
  margin: 15px;
}

.gallery-flex-container img:hover {
  cursor: crosshair;
}