@font-face {
	font-family: "IA Writer Duo";
	src: url("fonts/iAWriterDuoS-Regular.woff2") format("woff2");
}

:root {
	--nord0: #2e3440;
	--nord1: #3b4252;
	--nord2: #434c5e;
	--nord3: #4c566a;
	--nord4: #d8dee9;
	--nord5: #e5e9f0;
	--nord6: #eceff4;
}

/* Global */
* {
	margin: 0;
	padding: 0;
	font-family: "IA Writer Duo", sans-serif;
	color: var(--nord1);
}

body {
	min-width: 375px;
	background: rgb(250, 250, 250);
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

/* Header */
header {
	height: 50px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

header h1 {
	line-height: 50px;
	font-weight: 400;
}

header h1 a {
	text-decoration: none;
}

header nav {
	display: flex;
	gap: 20px;
}

header nav a {
	text-decoration: none;
	line-height: 50px;
	font-size: 1em;
}

header nav a:hover {
	text-decoration: underline;
}

/* Footer */
footer {
	height: 50px;
	background: var(--nord0);
	text-align: center;
	box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

footer a {
	line-height: 50px;
	color: var(--nord4);
	text-decoration: none;
	padding: 0 10px 0 10px;
}

/* Homepage */
.homepage-section {
	max-width: 1200px;
	margin: 15px auto 30px auto;
}

.homepage-section h2 {
	font-weight: 400;
	padding-bottom: 3px;
	margin: 0 15px 20px 15px;
	border-bottom: 1px solid var(--nord3);
}

.photo-reel-homepage-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}

.photo-reel-homepage-grid img {
	border-radius: 10px;
	width: 250px;
	height: 250px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s ease-in-out;
	margin-bottom: 20px;
	object-fit: cover;
}

.photo-reel-homepage-more {
	width: 250px;
	height: 250px;
	background: rgb(245, 245, 245);
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	line-height: 250px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s ease-in-out;
}

.photo-reel-homepage-more:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
}

.gallery-grid a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	padding-bottom: 20px;
	overflow: hidden;
}

.gallery-grid a h3 {
	padding-top: 5px;
	font-weight: 400;
}

.gallery-grid a img {
	width: 352px;
	height: 440px;
	border-radius: 0px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s ease-in-out;
}

.gallery-grid a:hover img {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Posts Grid */
.posts-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
}

.posts-grid a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	padding-bottom: 20px;
	overflow: hidden;
}

.posts-grid a h3 {
	padding-top: 5px;
	font-weight: 400;
}

.posts-grid a img {
	width: 350px;
	height: 350px;
	border-radius: 0px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s ease-in-out;
	object-fit: cover;
}

.posts-grid a:hover img {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.posts-grid a .post-date {
	font-size: 0.9em;
	color: var(--nord3);

}

.post-content {
	margin: 0 15px;
}

/* Photo Reel */
.photo-reel {
	max-width: 1200px;
	margin: 0 auto;
}

.photo-reel h2 {
	font-weight: 400;
	margin: 0 15px 20px 15px;
	border-bottom: 1px solid var(--nord3);
}

#photo-reel-gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
}

#photo-reel-gallery a {
	padding-bottom: 20px;
}

#photo-reel-gallery a img {
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s ease-in-out;
}

#photo-reel-gallery a img:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Photo Gallery */
.photo-gallery {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 15px;
}

.photo-gallery h2 {
	font-weight: 400;
	margin: 0 15px 25px 15px;
	border-bottom: 1px solid var(--nord3);
}

.photo-gallery-images {
	margin: 0 15px;
	column-count: 3;
	column-gap: 10px;
}

.photo-gallery-images a {
	display: block;
	break-inside: avoid;
	margin-bottom: 10px;
}

.photo-gallery-images a img {
	width: 100%;
	height: auto;
	border-radius: 0px;
	display: block;
}

/* Media Queries */
@media (max-width: 1126px) {
	.homepage-section {
		max-width: 800px;
	}

	.gallery-grid,
	.posts-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.posts-grid a img {
		width: 350px;
		height: 350px;
	}
}

@media (max-width: 1200px) {
	.posts-grid a img {
		width: 300px;
		height: 300px;
	}
}

@media (max-width: 1024px) {
	.gallery-grid,
	.posts-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.posts-grid a img {
		width: 350px;
		height: 350px;
	}

	.photo-reel-homepage-grid {
		grid-template-columns: repeat(2, 1fr);
		max-width: 500px;
		margin: 0 auto;
	}

	.photo-reel-homepage-grid img,
	.photo-reel-homepage-more {
		width: 225px;
		height: 225px;
	}

	#photo-reel-gallery {
		grid-template-columns: repeat(2, 1fr);
	}

	.photo-gallery-images {
		column-count: 2;
	}
}

@media (max-width: 734px) {
	.gallery-grid,
	.posts-grid {
		grid-template-columns: 1fr;
	}

	.posts-grid a img {
		width: 100%;
		max-width: 500px;
		height: auto;
		aspect-ratio: 1 / 1;
	}

	.photo-gallery-images {
		column-count: 1;
	}

	#photo-reel-gallery {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 415px) {
	.photo-reel-homepage-grid {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 600px) {
	header {
		flex-direction: column;
		height: auto;
		padding: 10px 0;
	}

	header nav {
		width: 100%;
		justify-content: center;
		gap: 30px;
		padding-top: 10px;
	}

	header h1,
	header nav a {
		line-height: normal;
	}
}
