@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  color: var(--nord1);

}

body {
  min-width: 300px;
  background: rgb(250, 250, 250);
}

/* Header */
header {
  height: 50px;
  padding-bottom: 40px;
}

header h1 {
  line-height: 50px;
  font-size: 1.75em;
  font-weight: 400;
  padding-left: 10px;
}

header h1 a {
  text-decoration: none;
}

/* Footer */
footer {
  height: 50px;
  background: var(--nord0);
  text-align: center;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

footer a {
  line-height: 50px;
  color: var(--nord4);
  text-decoration: none;
  padding: 0 10px 0 10px;
}

/* Homepage gallery */
.grid-container {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 10px; */
  padding: 0 25px 0 25px;
}

.grid-container a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0 25px 50px 25px;
}

.grid-container .full-width {
  grid-column: span 2;
}

.grid-container .half-width {
  grid-column: span 1;
}

@media screen and (max-width: 800px) {
  .grid-container .half-width {
    grid-column: span 2;
  }

}

.grid-container a img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.grid-container a:hover img {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.grid-container a h2 {
  font-weight: 400;
  font-size: 1.2em;
  padding: 10px 0 0 0;
}

/* Gallery Pages */
.gallery-container {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 25px 0 25px;
}

.gallery-container img {
  display: block;
  margin: 0 auto 50px auto;
  max-width: 100%;
  max-height: 85vh;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}